body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    max-height: 100vh;
  }

    /* Navigation */
  .navbar {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px 80px;
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  .navbar .logo img {
    height: 60px;
  }

  .navbar ul {
    list-style: none;
    margin: 0;
    padding-right: 150px;
    display: flex;
  }

  .navbar ul li {
    margin: 0 25px;
  }

  .navbar ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    position: relative;
    transition: transform 0.2s ease, border-bottom 0.2s ease;
  }

  .navbar ul li a:hover {
    color: #d51dc0;
  }

  .navbar ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000957;
    transition: width 0.3s ease;
    position: absolute;
    bottom: -5px;
    left: 0;
  }

  .navbar ul li a:hover::after {
    width: 100%;
  }

  .navbar ul li a:active {
    transform: scale(0.95);
  }

    /* Dropdown Menu */
  .navbar .dropdown {
    position: relative;
  }

  .navbar .dropdown-menu{
    list-style: none;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    min-width: 260px;
    z-index: 1000;
  }

  .navbar .dropdown-menu .about-us{
    min-width: 170px;
    z-index: 1000;
  }

  .navbar .dropdown-menu li {
    padding: 10px 20px;
  }

  .navbar .dropdown-menu li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 14px;
    display: block;
    transition: background 0.2s ease;
  }

  .navbar .dropdown-menu li a:hover {
    color: #000000;
  }

  .navbar .dropdown:hover .dropdown-menu {
    display: block;
  }

  .navbar .dropdown-menu li a:active {
    transform: scale(0.95);
  }

  .home {
    width: 100%;
    height: 90vh;
    background-image: url(img/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }

  .home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  .btn {
    background-color: #0048ff;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  @keyframes animate {
    0%{
      background-image: url(img/2.jpg);
    }
    20%{
      background-image: url(img/3.jpg);
    }
    40%{
      background-image: url(img/4.jpg);
    }
    60%{
      background-image: url(img/5.jpg);
    }
    80%{
      background-image: url(img/1.jpg);
    }
    100%{
      background-image: url(img/2.jpg);
    }
  }

  /* Category Section */
  .category {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: #faf8f8;
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  }

  .h1 {
    display: flex;
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }


  .medal {
    text-align: center;
  }

  .medal img {
    width: 110px;
    height: 100px;
    display: block; 
    margin: 0 20px;
    transition: transform 1.2s ease;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
  }

  .medal h2 {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
  }

  .medal h2:hover {
    text-decoration: underline;
  }

  .medal img:hover {
    transform: rotateY(360deg);
  }

      /* Popup container styling */
    .popup {
      display: none;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      height: auto;
      background-color: hsla(0, 0%, 98%, 0.82);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      z-index: 1000;
      text-align: center;
      padding: 20px;
    }

    .popup-content {
      position: relative;
    }

    .close-btn {
      position: absolute;
      top: 15px;
      right: 0;
      font-size: 30px;
      cursor: pointer;
      color: #333;
    }

    /* Images container */
    .popup-images {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
      margin-top: 20px;
    }

    .popup-images img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }


    /* Services */
    .services {
      height: 100vh;
      background-color: rgb(255, 255, 255);
    }

    .sample {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .services img {
      width: 60%;
      height: 60%;
      object-fit: contain;
      transition: transform 0.5s ease;
      z-index: 1;
      position: absolute;
      top: 120%;
      left: 20%;
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
    }

    .services h2 {  
      font-size: 3rem;
      color: #333;
      text-align: center;
      margin-bottom: 20px;
      padding-top: 100px;
    }

    .services-section {
      height: 90vh;
      background-color: rgb(231, 226, 226);
      padding: 40px;
    }

    .container-services {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 900px;
      margin: 50px auto;
      padding: 20px;
    }

    .container-services .text {
        flex: 1;
        padding-right: 20px;
    }

    .container-services .text h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .container-services .text p {
        font-size: 16px;
        color: #555;
    }

    .container-services .foccus{
        max-width: 100px;
    }
    
    .container-services .image {
        flex: 1;
        display: flex;
        justify-content: center;
    }
    
    .container-services .image img {
      width: 200px;
      object-fit: contain;
      margin-top: 50px;
    }

    /* Monitoring */
    .container-monitoring img{
      width: 300px;
      height: 300px;
      position: absolute;
      top: 114%;
      left: 20%;
      z-index: 3;
    }

    .container-monitoring img:hover {
      transform: scale(1.1);
    }

    /* Mentoring */
    .container-mentoring img{
      width: 300px;
      height: 310px;
      position: absolute;
      top: 114%;
      left: 60%;
      z-index: 4;
    }

    .container-mentoring img:hover {
      transform: scale(1.1);
    }

    /* Building */

    .container-building img{
      width: 300px;
      height: 310px;
      position: absolute;
      top: 133%;
      left: 18%;
      z-index: 4;
    }

    .container-building img:hover {
      transform: scale(1.1);
    }

    /* Audit */
    
    .container-audit img{
      width: 305px;
      height: 310px;
      position: absolute;
      top: 133%;
      left: 62%;
      z-index: 4;
    }

    .container-audit img:hover {
      transform: scale(1.1);
    }

    /* consultancy */
    
    .container-consultancy img{
      width: 305px;
      height: 310px;
      position: absolute;
      top: 149%;
      left: 20%;
      z-index: 4;
    }

    .container-consultancy img:hover {
      transform: scale(1.1);
    }

    /* facility */
    
    .container-facility img{
      width: 305px;
      height: 310px;
      position: absolute;
      top: 149%;
      left: 60%;
      z-index: 4;
    }

    .container-facility img:hover {
      transform: scale(1.1);
    }

    .container-assesstment {
      text-align: center;
    }
    
    .container-assesstment h1 {
      color: #002d6d;
      font-size: 2rem;
      margin-bottom: 20px;
    }
    
    .container-assesstment .card-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .container-assesstment .card {
      background: #ffffff;
      border-radius: 10px;
      padding: 20px;
      max-width: 300px;
      text-align: center;
      margin: 20px 20px;
      justify-content: space-between;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    .container-assesstment .card:hover
    {
      transform: scale(1.05);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }
    .container-assesstment .card .icon img {
      width: 50px;
      height: 50px;
      margin-bottom: 10px;
    }
    
    .container-assesstment .card h2 {
      color: #002d6d;
      font-size: 1.2rem;
      margin-bottom: 10px;
    }
    
    .container-assesstment .card p {
      font-size: 0.9rem;
      color: #555;
      line-height: 1.5;
    }
    
    .divider {
      margin-top: 10px;
      width: 3px;
      height: 320px;
      background-color: #ccc;
      align-self: stretch;
    }

    /* Members */

    .tree {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
    }

    .level {
      display: flex;
      justify-content: center;
      gap: 20px;
    }

    .node {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid #007BFF;
      border-radius: 10px;
      padding: 10px;
      background-color:mediumturquoise;
      text-align: center;
      width: 200px;
    }

    .frame {
      border: 3px solid #e5f015;
      border-radius: 50%;
      width: 85px;
      height: 85px;
    }

    .node img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-bottom: 10px;
      border: 3px solid #0808fd;
    }

    .name {
      font-size: 16px;
      font-weight: bold;
    }

    .position {
      font-size: 14px;
      color: #555;
    }

    /* About Us */
    .about-us {
      height: 160vh;
      background-color: rgb(231, 226, 226);
      padding: 40px;
    }
    
    .about-us img {
      width: 200px;
      object-fit: contain;
      margin-top: 50px;
    }

    .about-us p {
      font-size: 1.2rem;
      color: #333;
      line-height: 1.6;
      margin-bottom: 20px;
    }

    .vision-mission-container {
      text-align: center;
      padding: 20px;
    }
    
    .vision-mission-container h1 {
      font-size: 2rem;
      color: #333;
      margin-bottom: 40px;
    }
    
    .circles {
      display: flex;
      justify-content: center;
      gap: 40px;
      flex-wrap: wrap;
    }
    
    .circle {
      background: linear-gradient(135deg, #ffcf33, #0049d0);
      width: 300px;
      height: 300px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      position: relative;
      transition: transform 0.3s ease;
    }

    .circle:hover {
      transform: scale(1.02);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
    
    .inner-circle {
      background-color: white;
      border-radius: 50%;
      width: 80%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .vision-mission-container h2 {
      font-size: 1.5rem;
      color: #0049d0;
      margin-bottom: 10px;
    }
    
    .vision-mission-container p {
      font-size: 1rem;
      color: #555;
      line-height: 1.4;
    }

    .core-values-container {
      text-align: center;
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
    }
    
    .core-values-container h1 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      color: #333;
    }
    
    .values {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
    }
    
    .value-item {
      background: #ffffff;
      border-radius: 12px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 20px;
      transition: transform 0.3s, box-shadow 0.3s;
    }
    
    .value-item:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
    
    .icon {
      font-size: 2rem;
      margin-bottom: 10px;
    }
    
    .core-values-container h3 {
      font-size: 1.25rem;
      margin-bottom: 10px;
      color: #0073e6;
    }
    
    .core-values-container p {
      font-size: 0.95rem;
      color: #555;
    }
    
    .marquee-container {
      width: 100%;
      height: 200px;
      overflow: hidden;
      background: #fff;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      position: relative;
    }
    
    .marquee-container h2 {
      text-align: center;
    }
    
    .marquee {
        display: inline-block;
        animation: scroll 20s linear infinite;
        gap: 40px;
        padding-top: 10px;
        will-change: transform;
    }
    
    .marquee img {
        height: 80px;
        gap: 20px;
        width: auto;
    }
    
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    .faqs {
      height: 100vh;
      background-color: rgba(255, 255, 255, 0.756);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .faq-container {
      width: 800px;
      margin: 0 auto;
      border: 1px solid #ddd;
      border-radius: 8px;
      overflow: hidden;
      background-color: #aa9595;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 20%;
      left: 25%;
    }

    .faq-item {
      border-bottom: 1px solid #ddd;
    }

    .faq-item:last-child {
      border-bottom: none;
    }

    .faq-question {
      cursor: pointer;
      padding: 15px 20px;
      background-color: #f1f1f1;
      margin: 0;
      font-size: 16px;
      font-weight: bold;
      color: #333;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: background-color 0.3s ease;
    }

    .faq-question:hover {
      background-color: #e0e0e0;
    }

    .faq-icon {
      font-size: 18px;
      color: #555;
      transition: transform 0.3s ease;
    }

    .faq-answer {
      display: none;
      padding: 15px 20px;
      background-color: #fff;
      font-size: 14px;
      line-height: 1.6;
      color: #555;
    }

    .faq-answer.show {
      display: block;
    }

    .faq-question.open .faq-icon {
      transform: rotate(45deg);
    }

    /* Contact Us */
    .contact-us {
      height: 100vh;
      background-color: rgb(206, 202, 202);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .contact-container {
      display: flex;
      gap: 20px;
      width: 90%;
      max-width: 1400px;
      align-items: flex-start;
    }

    .company-info {
      width: 30%;
      padding: 20px;
      border-radius: 10px;
    }
    
    .company-info h2 {
      margin-top: 130px;
      margin-bottom: 40px;
      color: rgb(212, 64, 93);
      font-size: 30px;
    }
    
    .info-item {
      display: block;
      align-items: center;
      margin-bottom: 15px;
      font-size: 16px;
      color: #333;
    }

    .info-item img {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      object-fit: contain;
    }
    
    .form-container {
      width: 65%;
      padding: 20px;
      margin-top: 70px;
      background-color: #003366;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.514);
    }
    
    .form-container h2 {
      margin-bottom: 20px;
      font-size: 40px;
      color: rgb(255, 255, 255);
      text-align: center;
    }
    
    .form-container label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      color: #ffffff;
    }
    
    .form-container input,
    .form-container textarea {
      width: 90%;
      padding: 20px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }
    
    .form-container button {
      padding: 10px 20px;
      background-color: rgb(62, 235, 151);
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    
    .form-container button:hover {
      background-color: rgb(180, 50, 80);
    }
    
    .map-container {
      position: relative;
      width: 90%;
      height: 612px;
      margin-top: 70px;
      border: 10px solid #ffffff;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.514);
    }
    
    .map-buttons {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-around;
      background-color: rgba(255, 255, 255, 0.9);
      z-index: 10;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      border-bottom: 1px solid #ccc;
    }
    
    .map-buttons button {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      border: none;
      padding: 2px 6px;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-bottom: 5px;
    }
    
    .map-buttons button:hover {
      background-color: rgb(212, 210, 210);
    }
    
    #map {
      height: 100%;
      width: 100%;
    }

    /* Style the button */
    #scrollToTopBtn {
      position: fixed;
      bottom: 100px;
      right: 15px;
      z-index: 100;
      display: none;
      background-color: #377fcc;
      color: white;
      border: none;
      border-radius: 50%;
      padding: 10px 17px;
      cursor: pointer;
      font-size: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    #scrollToTopBtn:hover {
      background-color: #0056b3;
    }
    
      /* Footer Section */
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ffffff;
      color: rgb(0, 0, 0);
      padding: 20px 30px;
      box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
      bottom: 0;
      width: auto;
    }

    .footer-left {
      font-size: 0.9rem;
    }

    .footer-right {
      display: flex;
      align-items: center;
      padding-right: 5%;
      gap: 10px;
    }

    .footer-right img {
      height: 30px;
    }

    .footer-right p {
      font-size: 0.9rem;
    }

    /* BOD */

    .tree {
      text-align: center;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 150px;
      background-color: rgba(255, 255, 255, 0.7);
    }
    .member {
      display: inline-block;
      margin: 20px;
      text-align: center;
    }
    .member img {
      width: 100px;
      height: 100px;
      border: 3px solid #007bff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .member .title {
      margin-top: 10px;
      font-weight: bold;
      color: #000000;
    }
    .connections {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    
    @media (max-width: 768px) {
      .navbar ul {
        flex-direction: column;
        display: none;
        background-color: #faf8f8;
        position: absolute;
        top: 120px;
        right: 20px;
        text-align: center;
        width: 70%;
        height: 40%;
        padding: 50px;
        gap: 40px;
        border-radius: 5px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      }

      .navbar ul.show {
        display: flex;
      }

      .navbar .menu-toggle {
        display: block;
        cursor: pointer;
      }

          /* Category Section */
      .category {
        padding: 3px;
        gap: 3px;
      }

      .medal {
        text-align: center;
      }

      .medal img {
        width: 100px;
        height: 90px;
      }

      .medal h2 {
        font-size: 0.8rem;
      }

      .medal p {
        font-size: 0.7rem;
      }

      .container-services {
        flex-direction: column;
        text-align: center;
    }

    .container-services .text {
        padding-right: 0;
        margin-bottom: 20px;
    }
  }

    .menu-toggle {
      display: none;
      font-size: 35px;
      color: rgb(0, 0, 0);
    }
